@page
@model IndexModel
@{
    ViewData["Title"] = "Appvia";
}

<div class="text-center">
    <h1 class="display-4">Hello Appvia</h1>
    <h3 class="display-4">Built, pushed and deployed with GitHub actions!</h3>
    <p>Running @ViewData["Runtime"] on @ViewData["HostName"].</p>
</div>
