@page
@model IndexModel
@{
    ViewData["Title"] = "Appvia";
}

<div class="text-center">
    <h1 class="display-4">Hello Appvia Demo</h1>
    <h3 class="display-4">Kubernetes and cloud, simplified!</h3>
    <p> Version 1.0.0 Running @ViewData["Runtime"] on @ViewData["HostName"].</p>
</div>
